<h1 class="title">
  <img class="u-width-9x u-height-9x" src="./assets/icons/icon.svg" alt="Kulturpfade Köln">
  Kulturpfade Köln
</h1>

<p>Die Kulturpfade Köln sind eine Reihe von Rad- bzw. Wanderwegen im Kölner Stadtgebiet. Die Pfade sind mit
  Informationstafeln aufbereitet und führen an sehenswürdigen Plätzen und Gebäuden entlang.</p>
<p>Allerdings ist der Weg nicht ausgeschildert und einige Informationstafeln existieren nicht mehr. Daher soll diese
  Seite die Informationen vervollständigen und in einer nutzbaren Form darstellen.</p>

<p>
  <a [routerLink]="['/map']">
    Karte mit allen Pfaden anzeigen&nbsp;&rarr;
  </a>
  <br />
  oder die einzelnen Kulturpfade entdecken:
</p>
