<h2>{{track?.boroughNo}}.{{track?.trackNo}} {{track?.borough}}
  <span class="u-font-size-small">{{ track.incomplete ? ' (in Arbeit)' : '' }}</span>
</h2>
<app-map-static
  [id]="track?.boroughNo+'.'+track?.trackNo"
  [trackId]="track?.boroughNo+'.'+track?.trackNo"
  classes="map map__map--small u-h-fit"
>
</app-map-static>

<div class="preview">
  <span [innerHTML]="startingPoint?.description.value"></span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  <div class="preview__spacer">&nbsp;</div>
  <a class="preview__link" [routerLink]="['/overview']" [queryParams]="{track: track?.boroughNo+'.'+track?.trackNo}">Kulturpfad&nbsp;anzeigen&nbsp;&rarr;</a><!-- change spacer if text changes here -->
</div>
