<h2>Informationen zum Projekt</h2>
<p>Erstellt wurde das Projekt im <a href="http://codefor.de/koeln/" target="_blank">OK Lab Köln</a>, einer
  Initiative, die an nützlichen Anwendungen rund um Offene Daten arbeit.<br />Wer interessiert ist, kann auf <a
    href="https://www.meetup.com/de-DE/OKLab-Koln-Meetup/" target="_blank">meetup</a> oder <a
    href="https://github.com/chfinke/kulturpfadekoeln" target="_blank">github</a> mitmachen.</p>
<p>
  Falls Sie fehlende Tafeln entdeckt, neue Pfade oder Fehler gefunden haben, 
  <a href="javascript:location='mailto:\u0063\u0068\u005f\u0066\u0069\u006e\u006b\u0065\u0040\u0077\u0065\u0062\u002e\u0064\u0065?subject=kulturpfadekoeln';void 0">kontaktieren</a>
  Sie uns gerne.
</p>

<div style="border-top: 1px solid black;"></div>
<a [routerLink]="['/imprint']">Impressum</a>
